<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"/>
<div th:if="${owner != null}">
    <p th:text="'Книга сейчас у: ' + ${owner.getFullName()}"/>
    <form th:method="PATCH" th:action="@{/books/{id}/release (id=${book.getBookId()})}">
        <input type="submit" value="Освободить"/>
    </form>
</div>
<div th:if="${owner == null}">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign (id=${book.getBookId()})}">
        <label th:for="person">Выберите человека </label>
        <select th:object="${person}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getFullName()}"/>
        </select>
        <input type="submit" value="Назначить">
    </form>
</div>
<hr>
<form th:method="GET" th:action="@{/books/{id}/edit (id=${book.getBookId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/books/{id} (id=${book.getBookId()})}">
    <input type="submit" value="Удалить">
</form>
<a href="/books">Книги</a>
</body>
</html>